<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
      {% include 'includes/stylesheets.html' %}
  </head>
  <body style="align-content: center" >
{% include 'includes/scripts.html' %}


<div class="loader_bg">
    <div class="loader"></div>
</div>

<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container" style="padding: 25px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/"> Naman<span>.</span> </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a class="smooth-menu" href="#home">Home</a></li>
                <li><a class="smooth-menu" href="#about">About</a></li>
                <li><a class="smooth-menu" href="#services">Services</a></li>
                <li><a class="smooth-menu" href="#portfolio">Portfolio</a></li>
                <li><a class="smooth-menu" href="#testimonial">Testimonial</a></li>
                <li><a class="smooth-menu" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <p>&copy;Copyright 2019 Naman Shah</p>
            </div>
        </div>
    </div>
</div>
  </body>
</html>
