{% extends 'base.html' %}
{% block title %} Contact Us Page{% endblock title %}
{% block content %}
        {% if submitted %}



    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello, my name is Naman</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Create Innovative application with us</h1>
                        <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Learn more</a>
                        <a href="#contact" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <p>Your Message was submitted successfully</p>

        {% else %}

    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello, my name is Naman</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Create Innovative application with us</h1>
                        <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Learn more</a>
                        <a href="#contact" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <form action="" method="post" novalidate>
<table>
    {{ form.as_table }}
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <input class ="my-btn-3 wow fadeInDown animated" type="submit" value="submit" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;" data-wow-delay="0.6s">
        </td>
    </tr>
</table>

</form>
        {% endif %}


     <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Contact Me {{ name }}</h2>
                    </div>
                </div>
            </div>
            {% if submitted %}

            <p>
                Your form is successfully submitted. Thank You for your intrest!
            </p>
            {% else %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 box-contact-form">

                        <form id="contactform" method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
                                        <input id="form_name" type="text" name="name" class="form-control"
                                               placeholder="Enter your full name *" required="required"
                                               data-error="Fullname is required.">{{ form.name }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.4s">
                                        <input id="form_email" type="email" name="email" class="form-control"
                                               placeholder="Enter your email *" required="required"
                                               data-error="Valid email is required.">{{ form.email }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                        <textarea id="form_message" name="message" class="form-control"
                                                  placeholder="Your Message *" rows="4" required="required"
                                                  data-error="Leave a message for me">{{ form.message }}</textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-send" value="{{ url 'contact' }}" >Send message</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
{% csrf_token %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


#original form template
